@model IEnumerable<NewSecurityDemo.Models.View_UserDocs_AllUserCreatedDocs>


@{
    ViewBag.Title = "PublicDocDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@


<style>
    .modal-dialog {
        width: 500px;
        height: 600px;
    }

    .modal-content {
        /* 80% of window height
        height: 60%;*/
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Repository - User Documents</h4>
        <input class="form-control" id="myInput" type="text" placeholder="Search.."><input class="btn" value="click" onclick="Filter();" />
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table-condensed table-hover ">
                <thead>
                    <tr>
                        <th>
                            @Html.Label("Ref#")
                        </th>
                        <th>
                            @Html.Label("File Name")

                        </th>
                        <th>
                            @Html.Label("Size")

                        </th>
                        <th>
                            @Html.Label("File Owner")

                        </th>
                        <th>
                            @Html.Label("Last Modified")
                        </th>

                        @*<th>
                                @Html.DisplayNameFor(model => model.UserIDOfFileOwner)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserIDOfLastUploaded)
                            </th>*@
                        <th>
                            @Html.Label("File Status")

                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FileLookupStatusID)
                            </th>*@
                        <th>
                            @Html.Label("Shared Status")

                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FileShareStatusID)
                            </th>*@
                        <th>
                            @Html.Label("File Type")
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.FileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FileExtension)
                            </th>*@


                        <th>
                            @Html.Label("Version")

                        </th>

                        <th>
                            @Html.Label("Updated By")
                        </th>

                        <th>
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#UploadUserFileModal">Upload File</button>

                            <!-- Modal -->
                            <div class="modal fade" id="UploadUserFileModal" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Upload User File</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Select Share Status</div>
                                                <div class="panel-body">
                                                    <div class="well well-sm">
                                                        <div class="row text-center">
                                                            Public:   @Html.RadioButton("radFileShareStatus", "1", true)
                                                            Private:    @Html.RadioButton("radFileShareStatus", "2")
                                                            Hidden:   @Html.RadioButton("radFileShareStatus", "6")
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Select File To Upload</div>
                                                <div class="panel-body">
                                                    <div class="well well-sm">
                                                        <div class="row">
                                                            <table>
                                                                <tr>
                                                                    <td> <input type="file" name="UploadFile" id="Crtl_UploadFile" class="btn" /></td>
                                                                    <td><input type="button" id="SubmitFileToUpload" class="btn btn-default" onclick="UploadSelectedFile();" value="Upload File" /></td>
                                                                </tr>
                                                            </table>
                                                            <script type="text/javascript">
                                                                function Filter() {
                                                                    var value = $('#myInput').val().toLowerCase();
                                                                    $("#ListToFilterListToFilter tr").filter(function () {
                                                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                                                    });
                                                                }

                                                                function UploadSelectedFile() {

                                                                    var input = $('#Crtl_UploadFile');
                                                                    var files = input.prop("files");

                                                                    if (files.length > 0) {
                                                                        if (window.FormData !== undefined) {
                                                                            var data = new FormData();
                                                                            for (var x = 0; x < files.length; x++) {
                                                                                data.append("file" + x, files[x]);
                                                                            }

                                                                            $.ajax({
                                                                                type: "POST",
                                                                                url: '/UploadFile/UserFileUpload?_FileShareStatusID=' + $('input[name=radFileShareStatus]:checked').val(),
                                                                                contentType: false,
                                                                                processData: false,
                                                                                data: data,
                                                                                success: function (result) {
                                                                                    $("#UpLoadMessage").hide();
                                                                                    $('#UpLoadMessage').html(result);

                                                                                    $("#UpLoadMessage").fadeIn("slow", function () {
                                                                                        // Animation complete.

                                                                                        $(this).fadeOut("slow", function () {
                                                                                            $('#UpLoadMessage').html('');
                                                                                        });
                                                                                    });

                                                                                },
                                                                                error: function (xhr, status, p3, p4) {
                                                                                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                                                                                    if (xhr.responseText && xhr.responseText[0] == "{")
                                                                                        err = JSON.parse(xhr.responseText).Message;
                                                                                    alert(err);
                                                                                }
                                                                            });
                                                                        } else {
                                                                            alert("This browser doesn't support HTML5 file uploads!");
                                                                        }

                                                                        $('#Crtl_UploadFile').val(null);
                                                                    }
                                                                }

                                                            </script>
                                                        </div>
                                                    </div>
                                                    <div id="UpLoadMessage"></div>
                                                </div>
                                            </div>



                                            @*@using (Html.BeginForm("UploadUserFile", "UserDocs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {


                                                    <table>
                                                        <tr>
                                                            <td>@Html.Label("Select File:")</td>
                                                            <td> <input type="file" name="file" id="file" /></td>
                                                        </tr>
                                                        <tr><td colspan="2"> <input type="submit" value="Upload Image" /></td></tr>
                                                    </table>
                                                }*@


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="ListToFilterListToFilter">


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullFileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileSize)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserThatLastUpdated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>

                            @*<td>
                                    @Html.DisplayFor(modelItem => item.UserIDOfFileOwner)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserIDOfLastUploaded)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FileStatus)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FileLookupStatusID)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FileShareStatus)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FileShareStatusID)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FileType)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileExtension)
                                </td>*@


                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentVersionNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.UserThatLastUpdated)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">


        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>


    </div>

</div>

<table>
    <tr>
        <td>
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </td>
        <td></td>
    </tr>
</table>

